{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5"></br></br></br></br></br></br>
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form action="" method="post">
                                            <center>
                                            <input type="text" class="fadeIn second" placeholder="Username" name="username" value="{{ request.form.username }}"></br></br>
                                             <input type="password" class="fadeIn third" placeholder="Password" name="password" value="{{ request.form.password }}"></br></br>
                                            <input class="btn btn-primary"  class="text-center font-weight-light my-4" type="submit" value="Login"></br></br>
                                            </center>
                                          </form>
                                          {% if error %}
                                            <p class="error"><strong>Error:</strong> {{ error }}
                                          {% endif %}
                                                                            
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/register">Need an account? Sign up!</a></div>
                                        <div class="small"><a href="/">Return Home Page</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
           
            {% endblock %}